mc = rgb(191, 114, 138)

.menu
  background-color mc

.nano
  height 100vh

.menu div.item:hover
  background-color lighten(mc, 30%)
  color white

i.show
  cursor pointer

.menu div, .menu h2
  border-bottom 2px solid white
  //font-weight normal