my-green = #449D44
my-red = #C9302C
my-blue = #31B0D5

box(color)
  color white
  font-weight bold
  border-color color
  background-color color
  &:hover
    background-color darken(color, 20%)
  cursor pointer
  display inline-block
  height 3em
  text-align center
  line-height 2.5em
  padding-right 3%
  padding-left 3%


.green-button
  box(my-green)
.red-button
  box(my-red)
.blue-button
  box(my-blue)

myBlue = rgb(114, 191, 177)

body
  background-color myBlue

.blue, .back-intro, .next-intro, .close-intro
  //float left
  display inline-block
  cursor pointer
  width 150px
  height 50px
  line-height 3em
  text-align center
  background-color myBlue
  border 2px solid white
  color white
  border-radius 5px
  &:hover
    background-color white
    border 2px solid myBlue
    color myBlue