.uinput
  background-color: inherit
  border: none
  height: 2em
  border-bottom: 2px lightcoral solid
  &:valid
    outline: none
    border-bottom: 2px yellow solid
  &:focus
    outline: none
    border-bottom: 2px lightblue solid